.bot-map_selected{
    text-decoration: underline !important; 
    font-weight: bolder !important;
}

.my-bots_selected{
    text-decoration: underline !important; 
    font-weight: bolder !important;
}

.initiate-bots_selected{
    text-decoration: underline !important; 
    font-weight: bolder !important;
}

.bot-exchange_selected{
    text-decoration: underline !important; 
    font-weight: bolder !important;
}
.botmap-bot {
    width: 35vw;
    display: flex;
    justify-content: center;
}
.bot-map-content {
    padding: 10px 50px;
}
.header-menu-item{
    display: flex;
    align-items: center;
}